<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset='utf-8'>
    <title>Page Title</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img th:src="@{/images/logo.png}" alt="LOGO" width="125px"/>
            </div>
            <nav>
                <ul>
                    <form class="nav-form-btn" action="/home" method="GET">
                        <button class="nav-button" >Home</button>
                    </form>

                    <form class="nav-form-btn" action="/about" method="GET">
                        <button class="nav-button" >About</button>
                    </form>
                    <form class="nav-form-btn" action="/account" method="GET">
                        <button class="nav-button" >Account</button>
                    </form>
                    <form class="nav-form-btn" action="/logout" method="POST">
                        <button class="nav-button" >Sign Out</button>
                    </form>

                </ul>
            </nav>
            <img th:src="@{/images/cart.png}" width=25px height=25px alt="Cart_icon" onclick="window.location.href='/cart'">
        </div>
        <div class="row">
            <div class="col-2">
                <h1>About us!</h1>
                <p>Welcome to our online store for Ai models. We have worked tirelessly to to give you this wonderful market place to find the best ai models money can buy. Jai and dhruv have been working over time on designing a stylish and modern front end as well as setting up the back end to store all our necessary data. Ben has helping making pages for the front end front.
                    <br><br> </p>
                <h3>Our Company Philsophy</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at congue nisi. Fusce accumsan odio quis vestibulum efficitur. Nulla ac elementum metus, sit amet consectetur turpis. Aenean pulvinar, quam eu tempor porttitor, enim magna auctor ligula, eget mattis est sapien ornare enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Sed sem purus, malesuada a lectus id, dignissim egestas lacus. Donec eget rutrum diam. Curabitur at lectus quis nisl consequat lobortis ut ac diam. Quisque quis purus at tortor semper lobortis.</p>
            </div>
            <div class="col-2">
                <img th:src="@{/images/image1.png}" alt="Main_IMAGE">
            </div>
        </div>
    </div>
</div>



</body>
</html>