body{
    background-image: url(../images/bg_signup.png);
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

#btn_login{
    position: relative;
    top: 25px;
    background: rgba(255, 255, 255, 0.62);
  }

.sign_up{
position: relative;
margin-bottom: 20px;
letter-spacing: 8px;
top:40px;
height: 72px;
font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 80px;
line-height: 55px;
color: #FFFFFF;
}

#caution{
    position: relative;
    left: 10px;
    font-size: 15px;
}