<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>My Cart</title>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css"  th:href="@{/css/style.css}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src= th:href="@{/bs/js/bootstrap.min.js}"></script>

</head>
<body>
<div class="header">
    <div class="container">
        <div class="navbar">
            <div class="logo">
                <img th:src="@{/images/logo.png}" alt="LOGO" width="125px"/>
            </div>
            <nav>
                <ul>
                    <form class="nav-form-btn" action="/main" method="GET">
                        <button class="nav-button" >Home</button>
                    </form>

                    <form class="nav-form-btn" action="/about" method="GET">
                        <button class="nav-button" >About</button>
                    </form>
                    <form class="nav-form-btn" action="/account" method="GET">
                        <button class="nav-button" >Account</button>
                    </form>
                    <form class="nav-form-btn" action="/logout" method="POST">
                        <button class="nav-button" >Sign Out</button>
                    </form>
                </ul>
            </nav>
            <img th:src="@{/images/cart.png}" width=25px height=25px alt="Cart_icon" onclick="window.location.href='/cart'">
        </div>
    </div>
</div>

<div class="container mt-5">
    <div class="row" >
        <div  class="col-md-6 offset-md-3">
            <h3 class ="text-center mb-4">My Cart</h3>

            <div class="container">
                <div class="row">
                    <div class="col-md-6 mx-auto">
                        <h1>Products</h1>
                        <hr>
                        <div th:each="product : ${products}">
                            <div class="card mb-4">
                                <div class="card-header" th:text="${product.name}">
                                    Product Name
                                </div>
                                <div class="card-body">
                                    <p th:text="'Price: ' + ${product.price}">
                                        Price:
                                    </p>
                                    <a th:href="@{/remove/{id}(id=${product.id})}">Remove from Cart</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <div class="text-center">

                <a onclick="window.location.href='/main'" class="btn btn-primary mr-3" >Continue Shopping</a>
                <a onclick="window.location.href='/payment'" class="btn btn-success">Proceed to Checkout</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>
